* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

button {
  padding: 12px;
}

.buttons button {
  width: 96px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.game {
  width: 386px;
  height: 193px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 16px;
}

.scores {
  width: inherit;
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
}
